/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body,
html {
  height: 100%;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}