
@import 'reusable-styles';

* {
  @include master-font;
}

body,
html {
  height: 100%;
}

body {
  @include main-background;
  @include flexbox(row, center, center);
}

.login-box {
  @include primary-card-color;
  @include flexbox(column, space-between, none);
  padding: 10%;
}

form {
  @include flexbox(column, space-around, none);
  height: 50%;
}

.login-error-message {
  color: red;
}