
body,
html {
  height: 100%;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.login-error-message {
  color: red;
}