@import 'reusable-styles';

* {
  @include master-font;
}

html,
body {
  height: 100%;
}

body {
  @include main-background;
  @include flexbox(row, space-around, none);
}

.column {
  @include primary-card-color;
  width: 30%;
  overflow: scroll;
  padding: 1%;
  height: 93%;
}

// ----- RIGHT COLUMN -----

.greeting-box {
  @include thin-black-border();
  @include flexbox(column, center, center);
  padding: 2%;
}

.manager-portal-header,
.daily-report-header {
  text-align: center;
}

// ------ MIDDLE COLUMN ------- 

.guest-search-header {
  margin: 0;
}

.guest-search-container {
  @include flexbox(column, space-around, center);
  height: 20%;
  border-bottom: 1px solid black;
}

.guest-search-result {
  margin: 1%;
  @include thin-black-border();
}

.guest-search-result:hover {
  background-color: turquoise;
  cursor: pointer;
}

.guest-information {
  height: 80%;
}

.guest-details-buttons {
  @include flexbox(row, space-around, center);
  height: 10%
}

.hidden {
  display: none;
}

// ---- RIGHT COLUMN -----

.past-booking,
.future-booking,
.search-result {
  @include thin-black-border();
  margin: 2%;
  padding: 2%;
}




.booking-form-container {
  @include flexbox(column, space-around, none);
  // @include primary-card-color();
  @include thin-black-border();
  height: 50%;
  padding: 1%;
}

.guest-name {
  margin-bottom: 0;
}

.guest-username {
  margin: 0;
}

.view-guest-future,
.view-guest-history {
  align-self: center;
}

@media screen and (max-width: 890px) {

  body {
    flex-direction: column;
    height: fit-content;
  }

  .column {
    width: 100%;
  }

}